# 3. 리스트, 딕셔너리 다루기
1) 다차원 리스트

2차원 리스트

In [1]:
list_tw = [[1,2],["ㄱ","ㄴ"],["a","b"]]

3행 1열 출력
list_tw[2][0]
'a'
2행 2열 출력
list_tw[1][1]
'ㄴ'
2차원 리스트의 len() 함수는 행의 길이를 나타냄
2번행을 모두 출력
list_tw[2]

3차원 리스트

In [18]:
list_th = [[[1,2,3],[4,5,6],[7,8,9],[10,11,12]],[["a","b","c"],["d","e","f"],["g","h","i"],["j","k","l"]]]

list_th[0][0]

'c'

[1,2,3]이 나오도록 3차원 리스트를 인덱싱 하려면
뎁스와 행의 인덱스가 0이고 열은 전체를 인덱싱 해야 해서 생략가능 함

뎁스를 먼저 쓰고 그다음 행 열 순으로 인덱싱 한다

list_th[0][0][:] --> [1,2,3]

list_th[1][0][2] --> 'c'

3차원 리스트 len함수 적용
len(list_th)  --> 2 (뎁스 길이가 나옴, 첫번째 순서가 뎁스)

2) 리스트 함수

+min(), max()
요소가 모두 숫자명일때

In [2]:
kims_age = [60,22,45,23,45,23,45]
max(kims_age)

60

In [3]:
kims_age = [60,22,45,23,45,23,45]
min(kims_age)

22

** 숫자열과 문자열이 섞여 있으면 min/max는 오류가 난다

요소에 문자만 있을때는 아스키코드로 결정한다.
아스키코드를 문자열로 변환하는 함수는 chr()
문자열을 아스키코드로 변환하는 함수는 ord()

In [5]:
#문자열만 있을때 min/max 함수 사용 예시
napoli_player = ['minjae','크라바츠헬리아','Osimhen', 'Anguissa']
min(napoli_player)
max(napoli_player)

'크라바츠헬리아'

+sum()
리스트나 튜플의 숫자형 자료형을 모두 더하는 함수

In [7]:
total_sum =0
for i in kims_age:
    total_sum += i
print(total_sum)

263

In [8]:
sum(kims_age)

263

enumerate()
리스트 원소에 순서값을 부여해주는 함수

In [9]:
for i in enumerate(kims_age):
    print(i)

(0, 60)
(1, 22)
(2, 45)
(3, 23)
(4, 45)
(5, 23)
(6, 45)

zip()
여러개의 순회가능한 객체를 인자로 받고, 각 객체가 담고 있는 원소를 이터러블의 형태로 차례로 접근할 수 있는 반복자를 반환
-->순회가능한 반복자를 반환한다.

In [10]:
napoli_num = [3,77,9,99]
napoli_player = ['minjae','크라바츠헬리아','Osimhen', 'Anguissa']

for i in zip(napoli_num,napoli_player):
    print(i)

(3, 'minjae')
(77, '크라바츠헬리아')
(9, 'Osimhen')
(99, 'Anguissa')